.headerTop {
  display: flex;
  justify-content: center;
  max-width: 100%;
  background: var(--gray-2);
  padding: 0.75rem 0;
}
 
.headerTop img {
  height: 2rem;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
