:root {
    --white: #ffffff;

    --gray-1: #121214;
    --gray-2: #202024;
    --gray-3: #323238 ;
    --gray-4: #7c7c8a ;
    --gray-5: #8d8d99 ;
    --gray-6: #c4c4cc ;
    --gray-7: #e1e1e6 ;

    --green-light: #00b37e;
    --green: #00875f;

    --red: #f75a68
  }

  :focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--green);
  }
   
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background: var(--gray-2);
    color: var(--gray-6);
    -webkit-font-smoothing: antialiased; 
}

body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
